In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Import CSV data as pandas data frame

In [6]:
df = pd.read_csv('data/stud.csv')

Check unique values of each column

In [7]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

Describe data

In [8]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

Adding new columns "total score" and "average"

In [12]:
df['total score'] = df['math_score'] + df['reading_score'] + df["writing_score"]
df['average'] =  df['writing_score']/3
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,24.666667
1,female,group C,some college,standard,completed,69,90,88,247,29.333333
2,female,group B,master's degree,standard,none,90,95,93,278,31.000000
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,14.666667
4,male,group C,some college,standard,none,76,78,75,229,25.000000

Check duplicates

In [13]:
df.duplicated().sum()

0

Check unique category values

In [14]:
print(df['gender'].unique())
print(df['race_ethnicity'].unique())
print(df['parental_level_of_education'].unique())
print(df['lunch'].unique())
print(df['test_preparation_course'].unique())

['female' 'male']
['group B' 'group C' 'group A' 'group D' 'group E']
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
['standard' 'free/reduced']
['none' 'completed']